.App-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 20%;
  height: 1023px;
  flex-shrink: 0;

  /* background: url('../public/Cloud-background.png') repeat-x; */
  float: left;
  background-color: #1E213A;
}

.error{
  padding: 13px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  background-color: #1E213A;
  color: white;
  height: 1000px;
}

.App-right {

  width: 80%;
  height: 1023px;
  flex-shrink: 0;
  background: #100E1D;
  float: right;
  overflow: auto;
}

.App-weather {
  box-sizing: border-box;
  text-align: center;
  margin-top: 20%;

}

img {
  max-width: 215px;
  height: 100%;
}

.App-number {
  color: white;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.App-status {
  color: #A09FB1;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.App-weather-date {

  margin-top: 10px;
  margin-bottom: 10px;
  color: #E7E7EB;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.App-location {
  color: #88869D;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.App-weather-days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-weather-day,
.App-weather-hightlights {
  color: #88869D;
  width: 120px;
  height: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  border: #A09FB1 solid 1px;
  background: #1E213A;
  margin-left: 2%;
}

.App-weather-hightlights {
  flex-wrap: wrap;
  margin-top: 60px;
  width: 350px;
  display: flex;
  justify-content: center;

}

.App-weather-hightlights.small {
  height: 159px;
}

.App-weather-hightlights.big {
  height: 204px;
}

.App-weather-title {
  margin-top: 60px;
  margin-left: 27%;
  color: white;
}

.App-weather-small-image {
  width: 75%;
}

.App-weather-hightlights-title {
  width: 100%;
  color: #E7E7EB;
  margin-top: 20px;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.App-weather-hightlights-value {
  color: #E7E7EB;
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
}

.App-weather-hightlights-unit {
  color: #E7E7EB;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.App-weather-hightlights-bar {
  position: relative;
  width: 229px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 80px;
  background: #E7E7EB;
}

.percent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
}

.App-weather-location-control {
  text-align: right;
  margin-top: 19px;
  cursor: pointer;
  width: 83%;
}

@media (max-width: 767px) {

  .App-left,
  .App-right {
    width: 100%;
  }

  .App-right {

    height: 1710px;
  }
}