.App-left {
  width: 20%;
  height: 1023px;
  flex-shrink: 0;

  /* background: url('../public/Cloud-background.png') repeat-x; */
  float: left;
  background-color: #1E213A;
}

.App-right {
  width: 80%;
  height: 1023px;
  flex-shrink: 0;
  background: #100E1D;
  float: right;
}

.App-weather {
  box-sizing: border-box;
  text-align: center;
  margin-top: 20%;

}

img {
  width: 50%;
  height: 50%;
}

.App-number {
  color: white;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.App-status {
  color: #A09FB1;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.App-weather-date {
margin-top: 10px;
  color: #88869D;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.App-location{
  color: #88869D;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}